@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center mt-2 mb-2 text-info">Welcome</h1>
<p class="text-muted mt-2 mb-2">Disconnected Data Access using In this Model</p>

<p>
    <a asp-action="Create" asp-controller="Employee">Create New</a>
</p>

@if (Model.Any())
{


    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>UserName</th>
                <th>Address</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in Model)
            {

                <tr>
                    <td>@emp.Name</td>
                    <td>@emp.UserName</td>
                    <td>@emp.Address</td>
                    <td>@emp.Email</td>
                    <td>
                        <input type="hidden" asp-for="@emp.Id" />
                        <a asp-action="Detail" asp-route-id="@emp.Id" class="btn btn-success">View</a>
                        <a asp-controller="Employee" asp-action="DMUpdate" asp-route-id="@emp.Id" class="btn btn-info">Edit</a>
                        <a asp-controller="Employee" onclick="return confirm('Are you sure?')" asp-action="DMDelete" asp-route-id="@emp.Id" class="btn btn-danger">Delete</a>


                        @*adding modal in delete button*@
                        @*<a data-toggle="modal" href="#" data-target="#deleteModal" class="btn btn-danger text-white">Delete</a>
                             <!-- Modal -->
                            <div class="modal fade" id="deleteModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
                                 <div class="modal-dialog" role="document">
                                     <div class="modal-content">
                                         <div class="modal-header">
                                             <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
                                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                 <span aria-hidden="true">&times;</span>
                                             </button>
                                         </div>
                                         <div class="modal-body">
                                             Are you sure? <br />
                                             <small class="text-muted">If once delete, don't undone this value!</small>
                                         </div>
                                         <div class="modal-footer">
                                             <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                            <a asp-action="DMDelete" asp-controller="Employee" asp-route-id="@emp.Id" class="btn btn-danger">
                                                 Delete
                                            </a>

                                         </div>
                                     </div>
                                 </div>
                             </div>*@

                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <h6 class="text-danger">No data found</h6>
}
<form method="post" asp-action="DMFinalUpdate" asp-controller="Employee">
    <button type="submit" class="btn btn-outline-success btn-lg d-block" onclick="return confirm('Are you sure?')">Update data to Database</button>
</form>

<a asp-action="InsertXmlToDB" class="btn btn-danger mt-4">Insert data</a>
<a asp-action="InsertOneTableToAnother" class="btn btn-dark mt-4">Insert Data One Table to Another</a>